:host {
  font-size: 18px;
  z-index: 99999;
  color: #ddd;
  position: fixed;
  top: 320px;
  width: 700px;
  left: calc(50% - 350px);
  background-color: #1c1919;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-in 0.3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes fade-in {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

:host .quak-vim-popup__input-wrapper {
  background-color: #191919;
  position: relative;
}

:host .quak-vim-popup__input {
  color: #ddd;
  padding: 19.2px;
  font-size: 19.2px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #191919;
  padding-left: 48px;
}

:host .quak-vim-popup__input-wrapper::before {
  position: absolute;
  font-size: 19.2px;
  top: 0;
  left: 16px;
  content: '🔍';
}

:host ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:host .quak-vim-popup-list-item {
  margin: 4px 6.4px 4px;
  padding: 8px 8px 6px;
  display: list-item;
  overflow: hidden;
  border-radius: 8px;
  background-color: #202124;
  border-bottom: 1px solid #151515;
}

.quak-vim-popup-list-item__highlight {
  color: #9fe4f9;
  font-weight: 400;
}

:host .quak-vim-popup-list-item__active {
  background-color: #ffffff18;
}

:host .quak-vim-popup-list-item__img-row {
  display: flex;
  align-items: center;
}

:host .quak-vim-popup-list-item__title-row {
  display: flex;
  gap: 9.6px;
  align-items: center;
}

:host
  .quak-vim-popup-list-item__title-row
  .quak-vim-popup-list-item__highlight {
  color: #fff;
  font-weight: 500;
}

:host .quak-vim-popup-list-item__title-row svg {
  margin-left: 2px;
}

:host .quak-vim-popup-list-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host .quak-vim-popup-list-item img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

:host .quak-vim-popup-list-item__url {
  color: #5ca1f7;
  font-weight: 300;
}
